version: "3.7"

x-redis-healthcheck: &redis-healthcheck
  test: ["CMD", "redis-cli", "ping"]
  interval: 1s
  timeout: 3s
  retries: 30

x-neo4j-healthcheck: &neo4j-healthcheck
  test: wget http://localhost:7474/browser -O-
  interval: 10s
  timeout: 3s
  retries: 50

x-mysql-healthcheck: &mysql-healthcheck
  test: "mysqladmin ping -h localhost"
  interval: 10s
  timeout: 20s
  retries: 10

volumes:
  # neo4j
  neo4j-core-conf:
  neo4j-core-data:
  neo4j-core-logs:
  neo4j-core-import:
  neo4j-core-metrics:
  neo4j-core-plugins:

  # users mysql
  users-mysql-core-data:

  # imageproxy
  imageproxy-redis-data:

  # management api
  mapi-bookcover-service-redis-data:

  # public api
  papi-bookcover-service-redis-data:

  # auth api
  auth-api-bookcover-service-redis-data:

networks:
  # neo4j
  neo4j-core:

  # users mysql
  users-mysql-core:

  # imageproxy
  imageproxy:

  # management api
  mapi-read-contents:
  mapi-edit-contents:
  mapi-bookcover:

  # public api
  papi-read-users:
  papi-read-contents:
  papi-read-records:
  papi-bookcover:

  # auth api
  auth-api-read-users:
  auth-api-current-user:
  auth-api-read-contents:
  auth-api-read-records:
  auth-api-bookcover:

services:
  # for development tools
  adminer:
    image: adminer:standalone@sha256:370c04eb26f585c408986d89d1d9c5e62f387d4afdd5a49aa13f7c5f53790262
    networks:
      - users-mysql-core
    ports:
      - published: $ADMINER_PORT
        target: 8080
    environment:
      ADMINER_DESIGN: $ADMINER_DESIGN

  # neo4j core
  neo4j-core:
    hostname: neo4j-core
    image: neo4j:4.2-enterprise
    networks:
      - neo4j-core
    ports:
      - published: $NEO4J_HTTP_PORT
        target: 7474
      - published: $NEO4J_BOLT_PORT
        target: 7687
    healthcheck: *neo4j-healthcheck
    volumes:
      - neo4j-core-conf:/conf
      - neo4j-core-data:/data
      - neo4j-core-logs:/logs
      - neo4j-core-import:/var/lib/neo4j/import
      - neo4j-core-metrics:/metrics
      - neo4j-core-plugins:/plugins
    environment:
      NEO4J_AUTH: ${NEO4J_USERNAME}/${NEO4J_PASSWORD}
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      NEO4JLABS_PLUGINS: '["apoc"]'
      NEO4J_apoc_export_file_enabled: "true"
      NEO4J_apoc_import_file_enabled: "true"
      NEO4J_apoc_import_file_use__neo4j__config: "true"
      NEO4J_dbms_mode: SINGLE
      NEO4J_dbms_default__database: $NEO4J_CONTENTS_DATABASE
      NEO4J_dbms_connector_http_listen__address: ":7474"
      NEO4J_dbms_connector_https_listen__address: ":6473"
      NEO4J_dbms_connector_bolt_listen__address: ":7687"
      NEO4J_dbms_connector_bolt_advertised__address: neo4j-core:7687

  # users mysql
  users-mysql-core:
    image: mysql:8.0@sha256:04ee7141256e83797ea4a84a4d31b1f1bc10111c8d1bc1879d52729ccd19e20a
    networks:
      - users-mysql-core
    healthcheck: *mysql-healthcheck
    ports:
      - published: $USERS_MYSQL_CORE_PORT
        target: 3306
    environment:
      MYSQL_ROOT_PASSWORD: $USERS_MYSQL_CORE_ROOT_PASSWORD
      MYSQL_DATABASE: $USERS_MYSQL_CORE_DATABASE
    volumes:
      - users-mysql-core-data:/var/lib/mysql

  # imageproxy
  imageproxy:
    image: willnorris/imageproxy@sha256:7e4c77d1b64db9152591dbfd8565d5d377eb8a243040efa4e241b97ba94feb1d
    networks:
      - imageproxy
    ports:
      - published: $IMAGEPROXY_PORT
        target: 8080
    depends_on:
      imageproxy-redis:
        condition: service_healthy
    environment:
      IMAGEPROXY_CACHE: redis://imageproxy-redis:6379

  imageproxy-redis:
    image: redis:6@sha256:e10f55f92478715698a2cef97c2bbdc48df2a05081edd884938903aa60df6396
    healthcheck: *redis-healthcheck
    networks:
      - imageproxy
    volumes:
      - imageproxy-redis-data:/data

  # management
  management-api-gateway:
    image: ghcr.io/bo2kshelf/management-api-gateway:develop@sha256:dabb3121952b1e90ba0913e94a8c85dd77947e0acb86bc2164a8e7510766d6fd
    depends_on:
      mapi-read-contents-service:
        condition: service_started
      mapi-edit-contents-service:
        condition: service_started
      mapi-bookcover-service:
        condition: service_started
    networks:
      - mapi-read-contents
      - mapi-edit-contents
      - mapi-bookcover
    ports:
      - published: ${MANAGEMENT_API_PORT}
        target: 4000
    environment:
      PORT: 4000
      READ_CONTENTS_SERVICE_URL: http://mapi-read-contents-service:4000/graphql
      EDIT_CONTENTS_SERVICE_URL: http://mapi-edit-contents-service:4000/graphql
      BOOKCOVER_SERVICE_URL: http://mapi-bookcover-service:4000/graphql

  mapi-read-contents-service:
    image: ghcr.io/bo2kshelf/read-contents-service:develop@sha256:07491452e926dbf5bd8fcad06b98f551ebed812127e48312928aaee15ef978c2
    depends_on:
      neo4j-core:
        condition: service_healthy
    networks:
      - neo4j-core
      - mapi-read-contents
    environment:
      PORT: 4000
      NEO4J_URL: neo4j://neo4j-core:7687
      NEO4J_USERNAME: ${NEO4J_USERNAME}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}

  mapi-edit-contents-service:
    image: ghcr.io/bo2kshelf/edit-contents-service:develop@sha256:c977f55605365b4b60950bb729c66bcf3b9e168b4dcaf325c2adaada96bf5d6d
    # build:
    #   context: ./edit-contents-service
    #   dockerfile: Dockerfile
    depends_on:
      neo4j-core:
        condition: service_healthy
    networks:
      - neo4j-core
      - mapi-edit-contents
    environment:
      PORT: 4000
      NEO4J_URL: neo4j://neo4j-core:7687
      NEO4J_USERNAME: ${NEO4J_USERNAME}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}

  mapi-bookcover-service:
    image: ghcr.io/bo2kshelf/bookcover-service:develop@sha256:b18da695a196e9665e562eace65d65f669620a554607c87fc3a4573594769a07
    networks:
      - mapi-bookcover
    depends_on:
      mapi-bookcover-service-redis:
        condition: service_healthy
    environment:
      PORT: 4000
      RAKUTEN_APPLICATION_ID: $RAKUTEN_APPLICATION_ID
      RAKUTEN_APPLICATION_SECRET: $RAKUTEN_APPLICATION_SECRET
      IMAGEPROXY_BASE_URL: $IMAGEPROXY_BASE_URL
      REDIS_HOST: mapi-bookcover-service-redis
      REDIS_PORT: 6379

  mapi-bookcover-service-redis:
    image: redis:6@sha256:e10f55f92478715698a2cef97c2bbdc48df2a05081edd884938903aa60df6396
    healthcheck: *redis-healthcheck
    networks:
      - mapi-bookcover
    volumes:
      - mapi-bookcover-service-redis-data:/data

  # public-api
  public-api-gateway:
    image: ghcr.io/bo2kshelf/public-api-gateway:develop@sha256:ea7e33f9a076a20ff7a0a434633729c35dcb7604162a87efabfd672bbe779559
    depends_on:
      papi-bookcover-service:
        condition: service_started
      papi-read-users-service:
        condition: service_started
      papi-read-contents-service:
        condition: service_started
      papi-read-records-service:
        condition: service_started
    networks:
      - papi-read-users
      - papi-read-contents
      - papi-read-records
      - papi-bookcover
    ports:
      - published: ${PUBLIC_API_PORT}
        target: 4000
    environment:
      PORT: 4000
      BOOKCOVER_SERVICE_URL: http://papi-bookcover-service:4000/graphql
      READ_USERS_SERVICE_URL: http://papi-read-users-service:4000/graphql
      READ_CONTENTS_SERVICE_URL: http://papi-read-contents-service:4000/graphql
      READ_RECORDS_SERVICE_URL: http://papi-read-records-service:4000/graphql

  papi-read-users-service:
    image: ghcr.io/bo2kshelf/read-users-service:develop@sha256:04ce0b1215636e1a05b4f47f742f02605c752c2f43ef5d709add3f0b2b6f167b
    depends_on:
      users-mysql-core:
        condition: service_healthy
    networks:
      - imageproxy
      - users-mysql-core
      - papi-read-users
    environment:
      PORT: 4000
      PRISMA_DATABASE_URL: mysql://root:${USERS_MYSQL_CORE_ROOT_PASSWORD}@users-mysql-core:3306/${USERS_MYSQL_CORE_DATABASE}
      IMAGEPROXY_BASE_URL: $IMAGEPROXY_BASE_URL

  papi-read-contents-service:
    image: ghcr.io/bo2kshelf/read-contents-service:develop@sha256:07491452e926dbf5bd8fcad06b98f551ebed812127e48312928aaee15ef978c2
    depends_on:
      neo4j-core:
        condition: service_healthy
    networks:
      - neo4j-core
      - papi-read-contents
    environment:
      PORT: 4000
      NEO4J_URL: neo4j://neo4j-core:7687
      NEO4J_USERNAME: ${NEO4J_USERNAME}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}

  papi-read-records-service:
    image: ghcr.io/bo2kshelf/read-records-service:develop@sha256:44ba6f46f0d39d413e9787feac78ecef58965b1ccceced03d79072cc1a04726b
    depends_on:
      neo4j-core:
        condition: service_healthy
    networks:
      - neo4j-core
      - papi-read-records
    environment:
      PORT: 4000
      NEO4J_URL: neo4j://neo4j-core:7687
      NEO4J_USERNAME: ${NEO4J_USERNAME}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}

  papi-bookcover-service:
    image: ghcr.io/bo2kshelf/bookcover-service:develop@sha256:b18da695a196e9665e562eace65d65f669620a554607c87fc3a4573594769a07
    networks:
      - papi-bookcover
      - imageproxy
    depends_on:
      papi-bookcover-service-redis:
        condition: service_healthy
    environment:
      PORT: 4000
      RAKUTEN_APPLICATION_ID: $RAKUTEN_APPLICATION_ID
      RAKUTEN_APPLICATION_SECRET: $RAKUTEN_APPLICATION_SECRET
      IMAGEPROXY_BASE_URL: $IMAGEPROXY_BASE_URL
      REDIS_HOST: papi-bookcover-service-redis
      REDIS_PORT: 6379

  papi-bookcover-service-redis:
    image: redis:6@sha256:e10f55f92478715698a2cef97c2bbdc48df2a05081edd884938903aa60df6396
    healthcheck: *redis-healthcheck
    networks:
      - papi-bookcover
    volumes:
      - papi-bookcover-service-redis-data:/data

  # auth-api
  auth-api-gateway:
    image: ghcr.io/bo2kshelf/authenticated-api-gateway:develop@sha256:2089bf123727338b8807589a2b13c73ec61a09367d748cff7da72e062d642bf7
    depends_on:
      auth-api-bookcover-service:
        condition: service_started
      auth-api-read-contents-service:
        condition: service_started
      auth-api-read-records-service:
        condition: service_started
      auth-api-read-users-service:
        condition: service_started
      auth-api-current-user-service:
        condition: service_started
    networks:
      - auth-api-read-users
      - auth-api-current-user
      - auth-api-read-contents
      - auth-api-read-records
      - auth-api-bookcover
    ports:
      - published: $AUTH_API_PORT
        target: 4000
    environment:
      PORT: 4000
      BOOKCOVER_SERVICE_URL: http://auth-api-bookcover-service:4000/graphql
      READ_USERS_SERVICE_URL: http://auth-api-read-users-service:4000/graphql
      READ_CONTENTS_SERVICE_URL: http://auth-api-read-contents-service:4000/graphql
      READ_RECORDS_SERVICE_URL: http://auth-api-read-records-service:4000/graphql
      CURRENT_USER_SERVICE_URL: http://auth-api-current-user-service:4000/graphql

  auth-api-read-users-service:
    image: ghcr.io/bo2kshelf/read-users-service:develop@sha256:04ce0b1215636e1a05b4f47f742f02605c752c2f43ef5d709add3f0b2b6f167b
    depends_on:
      users-mysql-core:
        condition: service_healthy
    networks:
      - imageproxy
      - users-mysql-core
      - auth-api-read-users
    environment:
      PORT: 4000
      PRISMA_DATABASE_URL: mysql://root:${USERS_MYSQL_CORE_ROOT_PASSWORD}@users-mysql-core:3306/${USERS_MYSQL_CORE_DATABASE}
      IMAGEPROXY_BASE_URL: $IMAGEPROXY_BASE_URL

  auth-api-current-user-service:
    image: ghcr.io/bo2kshelf/current-user-service:develop@sha256:eb555808bc46ffb7d214aede2aa82725341968faab956375b8b0f3687fa746e4
    networks:
      - auth-api-current-user
    environment:
      PORT: 4000
      JWT_SECRET: $JWT_SECRET

  auth-api-read-contents-service:
    image: ghcr.io/bo2kshelf/read-contents-service:develop@sha256:07491452e926dbf5bd8fcad06b98f551ebed812127e48312928aaee15ef978c2
    depends_on:
      neo4j-core:
        condition: service_healthy
    networks:
      - neo4j-core
      - auth-api-read-contents
    environment:
      PORT: 4000
      NEO4J_URL: neo4j://neo4j-core:7687
      NEO4J_USERNAME: ${NEO4J_USERNAME}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}

  auth-api-read-records-service:
    image: ghcr.io/bo2kshelf/read-records-service:develop@sha256:44ba6f46f0d39d413e9787feac78ecef58965b1ccceced03d79072cc1a04726b
    depends_on:
      neo4j-core:
        condition: service_healthy
    networks:
      - neo4j-core
      - auth-api-read-records
    environment:
      PORT: 4000
      NEO4J_URL: neo4j://neo4j-core:7687
      NEO4J_USERNAME: ${NEO4J_USERNAME}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}

  auth-api-bookcover-service:
    image: ghcr.io/bo2kshelf/bookcover-service:develop@sha256:b18da695a196e9665e562eace65d65f669620a554607c87fc3a4573594769a07
    networks:
      - auth-api-bookcover
      - imageproxy
    depends_on:
      auth-api-bookcover-service-redis:
        condition: service_healthy
    environment:
      PORT: 4000
      RAKUTEN_APPLICATION_ID: $RAKUTEN_APPLICATION_ID
      RAKUTEN_APPLICATION_SECRET: $RAKUTEN_APPLICATION_SECRET
      IMAGEPROXY_BASE_URL: $IMAGEPROXY_BASE_URL
      REDIS_HOST: auth-api-bookcover-service-redis
      REDIS_PORT: 6379

  auth-api-bookcover-service-redis:
    image: redis:6@sha256:e10f55f92478715698a2cef97c2bbdc48df2a05081edd884938903aa60df6396
    healthcheck: *redis-healthcheck
    networks:
      - auth-api-bookcover
    volumes:
      - auth-api-bookcover-service-redis-data:/data
